.latestPosts {

  width: 100%;
  padding-bottom: 3rem;

  .container {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    align-items: center;


    @media (max-width: 760px) {
      width: 100%;
    }

  }


  h2 {

    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: bold;
    color: $color-primary;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;

  }


  .posts {


    margin-top: 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;


    .postContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f8f8f8;
      box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
      border-radius: 6px;
      margin-bottom: 2.5rem;
      //height: 22rem;
      height: auto;
      min-height: 25rem;
      overflow: hidden;


      @media (max-width: 760px) {
        flex-flow: column;
        height: 45rem;
      }



      &__img {
        width: 35%;
        max-width: 41rem;
        min-width: 39rem;
        //height: 28rem;
        height: 100%;
        margin-right:1.5rem;
        overflow: hidden;
        transition: all .2s;
        display: flex;
        justify-content: center;
        align-items: center;


        @media (max-width: 760px) {
          min-width: unset;
          max-width: unset;
          width: 100%;
          max-height: 30rem;
          margin-right: 0;

          img{
            width: 100%;
            height: auto;
          }


        }


      }

      &__content {
        width: 65%;
        padding: 1rem 0;
        align-items: flex-start;
        justify-content: center;
        height: 100%;

        @media (max-width: 760px) {
          width: 90%;
        }



        p {
          font-size: 1.8rem;
          color: #13293d !important;
          width: 90%;
          font-family: Arial, sans-serif;
          font-weight: normal;
          line-height: 1.4;
          margin-bottom: 1.7rem;


          @media (max-width: 760px) {
            width: 100%;
          }


        }


        &__btns {
          display: flex;

          & > * {
            margin-right: 15px;
          }
        }


      }


    }


    & > button {
      margin-top: 4rem;
    }


  }

}


.noPost{
  font-size: 2.5rem;
}
